<html>
  <head>
    <title>Error Page</title>
  </head>
<body>
<h2 style="font-family:Quicksand; margin: auto;">Please check your Internet Connection or Enter a valid place name. If problem still persists, kindly restart the application</h2>
</body>
</html>